{% extends 'storeApp/base.html' %}
{% block content %}
{% load static %} 
<h2>Contactos Activos</h2>
<table class="table-bordered">
    <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th>Estado</th>
    </tr>
    {% for contact in contacts %}
    <tr>
        <td>{{ contact.full_name }}</td>
        <td>{{ contact.address }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.active }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}